p {
    color: whitesmoke;
    font-size: 17;
    font-family:cursive;
}
body {
    background-image:url(sky.jpg);
    background-size:cover;

}
h1{
    color: whitesmoke;
    font-size: 50;
    font-family:cursive;
}