body {
    background-size: cover;
      font-display:fallback;
      background-image: url(HomelessBackground.jpg)
       
    
    }
    body {
    background-color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    body{
    color:black;
    }
     h1 {
        font-size: 75
        font-family cursive;
         }
     ul {
        list-style-type: none; 
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 17
    
     }
     li{
    font-size: 19 ;
     }

     .HomelessPoverty{
         font-size:55px;
     }